{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cluber Blue music</title>
    <link rel="icon" href="{% static 'cluberapp/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'cluberapp/css/style.css' %}" >
</head>

<body>
    <div class="box">
        <div class="box1">
            <div class="gicon_bg">
                <img src="{% static 'cluberapp/images/icons.jpg' %}" class="gicon">
            </div>
            <div class="button1">
                <a href="{% url 'cluberapp:index' %}"><img src="{% static 'cluberapp/images/EX_icon.png' %}" class="icon"></a>
            </div>
        </div>
        <div class="music_list">
            <div>
                <h1>Music</h1>
            </div>
            <div>
                {% for track in music %}
                    <h3>{{ track.album }}</h3>
                    <div class="trek1">
                        <img src="/media/{{ track.icon }}" class="trek1_icon">
                        <h3>{{ track.name }}</h3>
                        <audio controls src="/media/{{ track.mp3 }}"></audio>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>