<!DOCTYPE html>
<html>

<head>
    <title>
        Cluber Blue music
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>

    <div class="box">

        <div class="box1">
            <div class="gicon_bg">
                <img src="images/icons.jpg" class="gicon">
            </div>
            <div class="button1">
                <a href="main.html"><img src="images/EX_icon.png" class="icon"></a>

            </div>



        </div>
        <div class="music_list">
            <div>
                <h1>music</h1>
            </div>
            <div>
                <h3>Worst</h3>
                <div class="trek1">
                    <img src="images/WORST_icon.jpg" class="trek1_icon">
                    <h3>Chill Time</h3>
                    <audio controls src="music/CHILL.mp3"></audio>
                </div>
                <div class="trek1">
                    <img src="images/WORST_icon.jpg" class="trek1_icon">
                    <h3>RAGE</h3>
                    <audio controls src="music/RAGE.mp3"></audio>
                    
                </div>
                <h3>Dark End</h3>
                <div class="trek2">
                    <img src="images/DARK_icon.jpg" class="trek2_icon">
                    <h3>CATASTROPHE</h3>
                    <audio controls src="music/COTOSTROPHE.mp3"></audio>
                </div>
                <div class="trek2">
                    <img src="images/DARK_icon.jpg" class="trek2_icon">
                    <h3>HUMILITY</h3>
                    <audio controls src="music/HUMILITY.mp3"></audio>
                </div>
                <h3>Variability</h3>
                <div class="trek3">
                    <img src="images/VAR_icon.JPG" class="trek3_icon">
                    <h3>Expectation</h3>
                    <audio controls src="music/Expectation.mp3"></audio>
                </div>
                <div class="trek3">
                    <img src="images/VAR_icon.JPG" class="trek3_icon">
                    <h3>Forgetfulness</h3>
                    <audio controls src="music/Forgetfulness.mp3"></audio>
                </div>
            </div>
        </div>
    </div>



</body>

</html>